* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.burger {
	margin: 0px 5vw 0 0;
	font-size: 26px;
	line-height: 60px;
	float: right;
	display: none;
	width: 26px;
	color: #ffffff;
}

#toggle {
	display: none;
}

.active {
	opacity: 0.8;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.menu h1 {
	font-family: 'Merienda', cursive;
	font-weight: bold;
	min-width: 35%;
	max-width: 50%;
	text-align: left;
	color: #fff;
	font-size: 24px;
	padding-left: 10px;
}

.menu-links {
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding-right: 2vw;
}

.menu-links li {
	margin-top: 10px;
	display: inline-block;
	max-width: 10vw;
	margin-left: auto;
	margin-right: auto;
}

.menu-links a {
	text-decoration: none;
	color: #fff;
	font-family: 'Krub', sans-serif;
	font-size: 18px;
	font-weight: normal;
}

.menu-links a:hover {
	color: #95ff7d;
}

/*nav {
	height: 60px;
	max-width: 60%;
}*/

.top {
	height: 100vh;
}

.page-content {
	max-width: 80vw;
	margin-left: auto;
	margin-right: auto;
}

.page-content h1 {
	font-family: 'Krub', sans-serif;
	font-size: 48px;
	line-height: 62px;
	font-weight: normal;
	height: 160px;
	padding: 110px 0px;
}

.content-text {
	font-family: 'Krub', sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.content-text p {
	margin-bottom: 30px;
}

@media screen and (max-width: 1180px) {
	
	.burger {
		display: block;
		cursor: pointer;
	}

	.menu-links {
		margin-top: 60px;
		text-align: center;
		display: none;
		float: right;
		padding-right: 0px;
	}

	.menu-links li {
		min-width: 100vw;
		display: block;
		border-bottom: 1px solid #ffffff;
		height: 60px;
		padding-top: 20px;
	}

	#toggle:checked + .menu-links {
		display: block;
	}

	.other-page .menu-links {
		margin-top: 1px;
		height: 421px;
		background-color: #5b7851;
		opacity: 0.8;
		z-index: 10;
	}

}